body{
    margin-left: 15%;
    margin-right: 15%;
}

.container{
    display: grid; /* Define display como grid */
    grid-auto-flow: column; /* Define que cada div dentro de container seja formada como coluna */
    grid-auto-columns: 1fr; /* Define que cada coluna tenha largura igual ocupando o máximo de espaço */
}

#header{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 42px;

    
    text-decoration-line: underline;
    color: black;

    margin-top: 40px;
    margin-bottom: 40px;
}

#headerCta p{
    
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: rgb(82, 81, 81);

}

#headerCta h1{
    
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 55px;
    line-height: 82px;

    color: rgb(0, 0, 0);

}

#menu{
    text-align: right;
}

#menu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#menu li{
    display: inline-block;
    margin-left: 20px;
    margin-top: 49px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    color: black;
}

a {
    color: black;
    text-decoration: none;
}

#btnCta{
    border-radius: 50px;
    border: none;
    background: rgb(0, 89, 255);
    cursor: pointer;
    
    
    font-family: Poppins;
    font-style: normal;
    font-size: 16px;
    line-height: 24px;

    text-align: center;
    color: white;
    padding: 10px 25px 10px 25px;
}

#especialidades{
    margin-top: 100px;
}
#esp-img{
    margin-top: 100px;
}
#esp-img img {
    width: 70px;
    height: 70px;
}

#especialidades h2{

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

   
    color: rgb(32, 30, 30);

}

#headerImg img{
    width: 400px;
    height: auto;
    border-radius: 35px;
    margin-left: 100px;
}

h2.red{
       
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

   
    color: rgb(232, 67, 67);
}

h1.black{
       
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    color: rgb(17, 13, 13);
    margin-top: 0;
}

#services{
    margin-top: 150px;
    text-align: center;
}

#services p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: rgb(82, 81, 81);
}

.textCenter{
    text-align: center;
    margin-top: 50px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: rgb(82, 81, 81);
}

.textCenter i{
     color: rgb(232, 67, 67);
}

.textCenter h3{
    color: black;
}

#form{
    margin-top: 90px;
}

#form-img img{
    width: 400px;
    height: 350px;
    border-radius: 20px;
    margin-top: 80px;
}

form input{
    background-color: rgb(227, 228, 229);
    border: 0 solid;
    border-radius: 15px;
    padding: 10px;
    width: 300px;
    margin-top: 10px;
}

form button{
    border-radius: 70px;
    background: rgb(0, 89, 255);
    border:0 ;
    font-family: Poppins;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
  
    width: 150px;
    text-align: center;
    color: white;
   padding: 10px;

   margin-top: 15px;
}

#form p{
    margin-top: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;

    color: rgb(82, 81, 81);
}

#form h1{
      font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;

    color: rgb(17, 13, 13);
    margin-top: 0;
}

#form h3{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;

    color: rgb(232, 67, 67);
}

#portfolioTitle{
    margin-top: 150px;
}
.projetos{
    display: flex;
    flex-direction: column; 
    margin-top: 10px;
    width:450px;
    height: 300px;
    padding: 15px;
    background-color:rgb(221, 221, 221);
    align-items: center;
    border-radius: 15px;

}
.projetos img{
    margin-top: 20px;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    
}

.projetos button{

     border-radius: 70px;
    background: rgb(0, 89, 255);
    border:0 ;
    font-family: Poppins;
    font-style: normal;
    font-size: 13px;
    cursor: pointer;
    
  
    width: 150px;
    text-align: center;
    color: white;
   padding: 10px;
    
}

.projetos p{
     margin-top: 10px;

    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 32px;
    margin-left: 25px;

    color: rgb(0, 0, 0);
}

button:hover{
    transform: translateY(-5px);
    transition: 0.2s;
}

a:hover{
    transform: translateY(-5px);
    transition: 0.2s;
}

#img-diminuir{
    width: 300px;
    height: 185px;
}

#layout-projetos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    
}

.modal {
    display: none;
    /* escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

/* Caixa do modal */
.modal-layout {
    background: rgb(239, 236, 229);
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;

    display: flex;
    flex-direction: column;
    position: relative;
    gap: 16px;
}

.modal-layout h3 {
    font-size: 20px;
    text-align: center;
}

.modal-layout p {
    font-size: 14px;
    text-align: left;
}

.modal-layout img {
    
    max-width: 90%;
    border-radius: 8px;
    margin-left: 25px;
}

#imagem-menos{
    height: 300px;
}

/* Botão fechar */
.fecha {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    cursor: pointer;
    color: #333;
}

@media only screen and (max-width: 764px) {
    .container{
        overflow: hidden;
        display: flex;
        flex-direction: column;
    }


    body{
    margin-left: 5%;
    margin-right: 5%;
    }   
   
    #menu{
        
        text-align: start;
        
    }

    #header{
    
    margin-top: 10%;
    margin-bottom: 0;
}

    #headerImg img{
    margin: 10% 10% 0px 5%;
    width: 90%;
    height: auto;
    }



    #especialidades{
        display: flex;
        justify-content: center;
        margin-top: 10% ;
    }

    #esp-img{
        display: flex;
        justify-content: center;
        gap: 5px;
        margin-top: 20%;
    }

    #services{
        margin-top: 25%;
    }

    #form-img img{
    width:100%;
    height: auto;
    }

    #form{
        
        justify-content: center;
        
        width: 100%;
        text-align: center;
    }

    form input{
        width: 80%;
    }

    #portfolioTitle{
    margin-top: 30%;
    text-align: center;
    }

    .projetos{
    margin-top: 10%;
    width: 100%;
    justify-content: center;

    }

    .projetos img{
        width: 80%;
        margin: 0 10%;
  
    }

    #headerCta{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        

        margin-top: 10%;
    }

    #headerCta p{
    
    font-family: Poppins;
    font-size: 14px;
    
    }

    .projetos p{
     
        text-align: center;
    }

    form button{
        width: 50%;
        font-size: 20px;
    }   

    #btnCta{
        font-size: 20px;
    }

    #layout-projetos{
        display: flex;
        flex-direction: column;
    }

    .projetos{
        width: 90%;
        align-items: center;
    }
    
  

   
}
